.jumbotron{
    padding-top: 7rem;
    background-color: #e2edff;
}

#about{
    background-color: #90A7D1;
}

#sertifikat{
    background-color: #90A7D1;
}


#contact{
    background-color: #e2edff;
}

#dokumentasi{
    background-color: #90A7D1;
}
section{
    pedding-top: 5rem;
}